body {
  background-color: #F2F2F2;
}
.research-helper {
  text-align: center;
  width: 50%;
  margin: 5px auto;
  padding: 15px;
  background: #FFFFFF;
  border-radius: 2px;
}

header {
  height: 80px;
  padding: 20px;
  color: #222;
}

.description {
  text-align:left;
}

button {
  margin:10px;
  padding:10px;
  height:50px;
  border:none;
  background:#643B82;
  cursor:pointer;
  font-size:18px;
  color:#FFFFFF;
  border-radius: 2px;
}

input#topic {
  width:50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color:white;
  font-size:20px;
}

p {
  text-align: left;
}

form label {
  display:block;
}

.rs-entry {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  border-radius: 2px;
  line-height:1.5;
  padding-bottom: 15px;
}

.rs-heading {
  text-align: left;
    font-family: arial,sans-serif-light,sans-serif;
    line-height: 1.2;
    font-size: 30px;
    font-weight: normal;
    width:65%;
    float:left;
}

.rs-thumb {

}

.rs-content {
  padding: 0 20px;
}

.rs-header {
    padding: 20px 20px 0px 20px;
}

.rs-subjects {
  border-top: 1px solid rgba(0,0,0,0.16);
}

.rs-entry h3 {
  text-align: left;
    padding: 0 20px;
}

.rs-subject-ctn {
  padding: 7px 5px;
  background-color: #F2F2F2;
  margin-right: 10px;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
}

.rs-subject-ctn:hover {

  background-color: #C5C5C5;

}
